{% extends "base.html" %}
{% load static %}
{% block name %}
<title>About Us - TaskMate</title>
{% endblock %}

{% block title %}
<div class="container my-5 animate__animated animate__fadeInDown">
  <h1 class="text-center fw-bold display-4">
    <span style="color: #E0E0E0;">About</span><span style="color: #6D28D9;"> TaskMate</span>
  </h1>
  <p class="text-center text-muted">A project for advanced skill development.</p>
</div>
{% endblock %}

{% block content %}
<div class="container mt-4 animate__animated animate__fadeInUp">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card bg-dark text-white p-4 shadow-lg" style="border: 1px solid #282828; border-radius: 1rem;">
        <div class="card-body text-center">
          <h5 class="card-title h3 mb-4 fw-bold">From Concept to Code</h5>
          <p class="card-text">
            Hi, I'm <strong>Sarvam</strong>. TaskMate is a project I engineered to apply and refine my skills in modern web development. 
            It represents a hands-on approach to mastering full-stack frameworks and building a production-ready application from the ground up.
          </p>
          <hr class="my-4" style="border-color: #6D28D9;">
          <h5 class="card-title h3 mb-4 fw-bold">Engineered with Precision</h5>
          <p class="card-text">
            This project is built with Django, featuring secure authentication and smooth database management. 
            The frontend uses Bootstrap for a clean, responsive design. 
            I built it to strengthen my backend skills while ensuring a simple, user-friendly interface.
            </p>

          <div class="mt-4">
            <h6 class="fw-bold mb-3">Connect with me:</h6>
            <a href="https://github.com/sarvam207" class="btn btn-outline-primary me-2" target="_blank">
              <img src="{% static 'images\github-mark.png' %}" alt="GitHub" width="20" height="20" style="filter: invert(1);"> GitHub
            </a>
            <a href="https://www.linkedin.com/in/sarvamsaroha" class="btn btn-outline-primary" target="_blank">
              <img src="{% static 'images/InBug-Black.png' %}" alt="LinkedIn" width="20" height="20" style="filter: invert(1);"> LinkedIn
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}