{% extends 'base.html' %}
{% block name %}
<title>About - TaskMate</title>
{% endblock %}



{% block title %}
<div class="container">
  <h1 class="text-center">About</h1>
</div>
{% endblock %}

{% block content %}
<div> {{variable_key}}
</div>
{% endblock %} 

{% block staticimage %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
                <img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=800&q=80" alt="Sample Unsplash Image" class="img-fluid" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
{% endblock %} 